body{background-color: #d3d6db};
.form-label{font-size: 24px;}
.btn{margin-top: 10px;}

.card{background-color: #303841; }


.boxx{border: 1px solid #d3d6db;
    padding: 8px;
    background-color: #3a4750;}

.card-text{color: #d3d6db}