/* BODY */
body{background-color: #F5F5F5;
    font-family: Manrope;}

.main-wrapper {
  max-width: 1080px; /* or try 800px */
  margin: 0 auto;
  padding: 0 1rem;
}


/* JUMBOTRON ELEMENT */
.website_title{font-weight: bold;}                /* "Scam Detector" title website */
.custom-jumbotron{border: solid 4px #E0E0E0;        /* jumbotron box */
                    margin-top: 40px}

/* FORM ELEMENT */
.form-label{font-size: large;                    /* "enter scam message" text */
            font-weight: bold;
            margin-bottom: 4px;}
.scam_text{border: solid 4px #E0E0E0}       /* scam input box */
.form-text{margin: 8px}
.submit{                    /* submit button */
        border-radius: 8px;
        border: none;
        font-size: 18px;
}      


/* PT CARDS */

/* outside card */
.card {                                 
    background-color: #FFE5E5;
    flex: 1 0 calc(33.333% - 10px); /* 3 per row */
    box-sizing: border-box;
    border: 4px solid #E57373;
    padding: 10px;
    text-align: left;
}

/* inside card */
.boxx{
    padding: 8px;
    background-color: #ffffff;
    border: 2px solid #e3c5c5;
    border-radius: 8px;
}           

/* card text */       
.card h5.PT-title {
  font-size: 22px !important;
  font-weight: 800 !important;
  font-family: 'Manrope', sans-serif !important;
  margin-bottom: 0.5rem;
}        
.card-text{color:black}           /* all card text */           